---
import "@/styles/global.css";
import SideNav from "@/components/blog/SideNav";
const {
  title,
  headerTitle = "Blog de Gabriela",
  img = "/img/portada_referencia.jpg",
  description = "Aprendiendo JavaScript con ternura",
} = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Blog - {title}</title>
    <style lang="scss"></style>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="text-gray-800 font-sans min-h-screen flex flex-col">
    <header>
      <div
        class="relative h-40 p-6 text-black shadow-md overflow-hidden"
      >
        <img
          src={img}
          alt="Fondo bonito"
          class="absolute inset-0 object-cover w-full h-full -z-10 brightness-75"
        />
      </div>
      <div class="max-w-7xl w-11/12 mx-auto">
        <h1 class="text-3xl font-bold">{headerTitle}</h1>
        <p class="text-sm italic">{description}</p>
      </div>
    </header>
    <div class="flex flex-row w-11/12 max-w-7xl mx-auto mt-6 gap-6">
      <SideNav client:load/>
      <main class="flex-1 min-h-screen">
        <slot />
      </main>
    </div>
    <footer class="p-4 mt-6 text-center text-sm text-black bg-color-secundario">
      Con cariño, Gabriela © 2026
    </footer>
  </body>
</html>

<style is:global>
/* Encabezados */
h1 {
  font-family: var(--font-fantabular);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.5rem 0 1rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  margin: 2rem 0rem;
  background: #a9b39b;
  padding: 4px 20px;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
  padding: 4px 20px;
  background: #d3cdb3;
}
h4 {
  font-size: 1rem;
  font-weight: 600;
  padding: 4px 20px;
  border-bottom: solid #5b6851 3px;
  border-left: solid #5b6851 3px;
  margin: 2rem 0rem;
}
h5 {
  font-size: 1rem;
  font-weight: 600;
  padding: 4px 20px;
  margin: 2rem 0rem;
}

/* Párrafos */
p {
  font-weight: 500;
  font-size: 1rem;
  margin: 12px 0px;
}

/* Listas */
ul,
ol {
  margin: 1rem 0 1rem 1.5rem;
  padding: 0;
}

li {
  margin: 0.5rem 0.5rem;
  list-style-position: inside;
  list-style: disc;
}

aside ul {
  margin: 0;
}

aside ul li {
  list-style: none;
  margin: 0px;
  padding: 8px 0px;
  border-bottom: 1px solid var(--color-secondary);
}

aside ul li a {
  font-weight: 600;
}

/* Enlaces */
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 600;
}

button {
  background: var(--color-primary);
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.25rem;
}

figure > img {
  border-radius: 100px 100px 0px 0px;
  border: 4px #4f5d44;
}
pre {
  padding: 12px 20px;
}

</style>
