---
import '@/styles/global.css'
import SideNav from '@/components/blog/SideNav'
import Footer from '@/components/Footer.astro'
const { title } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Blog - {title}</title>
    <style lang="scss"></style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/eft1vyl.css" />
  </head>
  <body class="text-gray-800 font-sans min-h-screen flex flex-col">
    <main class="min-h-screen font-rethink">
      <div class="flex flex-row w-full">
        <SideNav client:load />
        <div class="flex-1 px-10 py-6">
          <slot />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  /* Encabezados */
  h1 {
    font-family: var(--font-fantabular);
    font-size: 2rem;
    font-weight: 600;
    margin: 0rem 0 2rem 0;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2rem 0rem;
    padding: 4px 20px;
  }

  h3 {
    margin: 1rem 0 0.5rem;
  }
  h4 {
    font-size: 1rem;
    font-weight: 600;
    padding: 4px 20px;
    border-bottom: solid #000 3px;
    border-left: solid #000 3px;
    margin: 2rem 0rem;
  }
  h5 {
    font-size: 1rem;
    font-weight: 600;
    padding: 4px 20px;
    margin: 2rem 0rem;
  }
  p {
    margin: 0rem 0 4rem 0;
    font-size: 17px;
    font-weight: 400;
  }
</style>
