---
import PostLayout from '@/layouts/blog/PostLayout.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<PostLayout
  title={post.data.title}
>
  <h1>{post.data.title}</h1>
  <Content />
</PostLayout>
