@import "tailwindcss";

@theme {
  --color-primary: #8c659b;
  --color-secondary: #ffe971;
  --color-tertiary: #d1d1d1;
  --color-text-card: #5d5d5d;

  --color-tag: var(--color-secondary);
}

@layer components {
  .primaryButton {
    @apply flex flex-row justify-center items-center transition-all duration-150 ease-in-out select-none border border-black  font-medium w-fit translate-0 hover:translate-1.5 shadow-[4px_4px_0px_#000000] md:shadow-[6px_6px_0px_#000000] hover:shadow-[0px_0px_0px_#000000];
  }

}
