@import "tailwindcss";

@theme {
  --color-primary: #8c659b;
  --color-secondary: #ffe971;
  --color-tertiary: #d1d1d1;
  --color-text-card: #5d5d5d;

  --color-tag: var(--color-secondary);
}

@layer components {
  .buttonPurple {
    @apply flex flex-row justify-center items-center transition-transform duration-100 ease-in-out hover:scale-105 select-none text-white border border-black rounded-lg font-medium w-fit bg-primary;
  }
  .tagYellow {
    @apply transition-transform duration-100 ease-in-out hover:scale-105  bg-tag text-center hidden rounded-xl border border-black select-none;
  }
}
