@import "tailwindcss";

@theme {
  --color-primary: #8c659b;
  --color-secondary: #ffe971;
  --color-tertiary: #d1d1d1;
  --color-text-card: #5d5d5d;
  --color-black: #141414;

  --color-tag: var(--color-secondary);

  --font-montserrat: "Montserrat", sans-serif;
  --font-jost: "Jost", sans-serif;
}

@layer components {
  .primaryButton {
    @apply flex flex-row justify-center items-center transition-all duration-150 ease-in-out select-none border-2 border-black  font-medium w-fit translate-0 hover:translate-1.5 shadow-[4px_4px_0px_#141414] md:shadow-[6px_6px_0px_#141414] hover:shadow-[0px_0px_0px_#141414];
  }
  .bottonProyectos {
    @apply transition-all duration-150 ease-in-out select-none
         shadow-[4px_4px_0px_#141414]
         md:shadow-[6px_6px_0px_#141414]
        cursor-pointer
        bg-secondary  
        md:min-w-xs
        h-14 md:h-16
        py-2 md:py-6
        border-2 border-black 
        min-w-[12rem]
        
  }
  .titleH3 {
    @apply text-2xl lg:text-4xl font-black font-jost;
  }
  .efectoResaltador {
    @apply relative w-fit px-2 inline-block
         after:content-['']
         after:absolute
         after:left-0
         after:bottom-1
         after:h-[50%]
         after:w-0
         after:bg-secondary
         after:-z-10
         after:transition-all
         after:duration-300
         hover:after:w-full;
  }
}
