---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import RedesBoton from "../components/RedesBoton.astro";
import { Icon } from "astro-icon/components";
import BarNav from "../components/BarNav.astro";
import Subtitulo from "../components/Subtitulo.astro"
import Footer from "../components/Footer.astro";
import Stacks from "../components/Stacks.astro";
---

<Layout title="Bienvenido a mi portafolio.">
  <BarNav />
  <main>
    <article id="sobre-mi-container">
      <div id="izquierda">
        <div id="foto-perfil"></div>
        <h2>
          <strong>Front-End</strong> Developer <strong>UX</strong> Desinger
        </h2>
      </div>

      <div id="biografia">
        <div id="text">
          <h1>Hola, soy <strong>Gabriela Ferrer.</strong></h1>
          <p>
            Mi enfoque laboral a lo largo de los años ha sido relacionado a la
            atención al público, ya dicho esto, quiero enfatizar que he decidido
            emprender un emocionante cambio de carrera hacia el mundo del diseño
            de experiencia de usuario y la programación frontend. Durante mis
            años en el servicio al cliente, he desarrollado habilidades valiosas
            en la comunicación efectiva, la empatía y la resolución de
            problemas.
          </p>
        </div>
        <div id="tags-container">
          <div id="mis-redes">
            <RedesBoton href="/" text="Github">
              <Icon name="fa6-brands:github" />
            </RedesBoton>
            <RedesBoton href="/" text="LinkedIn">
              <Icon name="fa6-brands:linkedin" />
            </RedesBoton>
            <RedesBoton href="/" text="Hoja de vida">
              <Icon name="bxs:file-blank" /></RedesBoton
            >
          </div>
          <div id="disponible">Disponible para trabajar</div>
        </div>
      </div>
    </article>

    <article class="proyectos-container">
      <Subtitulo text="Mis Proyectos" size="aside" type="Fron-End"/>

      <div id="lista-proyectos">
        <Card
          size="md"
          tags={["Astro"]}
          src="/images/proyecto.jpg"
          href="/"
          title="Amarilla Garden"
          body="Pagina dedicada dedicadas a la venta de plantas..."
        />
        <Card
          size="sm"
          tags={["Astro"]}
          src="/images/proyecto.jpg"
          href="/"
          title="Amarilla Garden"
          body="Pagina dedicada dedicadas a la venta de plantas..."
        />
        <Card
          size="sm"
          tags={["Astro"]}
          src="/images/proyecto.jpg"
          href="/"
          title="Amarilla Garden"
          body="Pagina dedicada dedicadas a la venta de plantas..."
        />
        <Card
          size="md"
          tags={["Astro"]}
          src="/images/proyecto.jpg"
          href="/"
          title="Amarilla Garden"
          body="Pagina dedicada dedicadas a la venta de plantas..."
        />
      </div>

      <Subtitulo size="center" type="Stacks"/>
    </article>

    <Stacks/>
  </main>
  <!-- <aside
    style="height:calc(100vh - 2px - 80px); width: 200px; border: solid 1px red; position: fixed; top:80px; right: 0"
  >
  </aside> -->
  <Footer/>
</Layout>

<style>
  main{
    padding: 20px 120px ;
  }
  strong {
    color: #8c659b;
  }
  [data-icon] {
    font-size: 20px;
  }
  #foto-perfil {
    background-image: url(/images/Foto.jpg);
    width: 160px;
    height: 160px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border: solid white 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  }
  h2 {
    width: 300px;
    text-align: center;
  }
  #biografia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    #text {
      width: 700px;
      text-wrap: pretty;
    }
    #tags-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      & #mis-redes {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
      & #disponible {
        border: 1px solid #94AE7B;
        border-radius: 100px;
        color: #222C18;
        background: #BEE09D;
        padding: 12px 80px;
        font-size: 16px;
        box-shadow: inset 0px 0px 10.3px 5px rgba(125, 147, 103, 0.25);
        font-weight: 450;


      }
    }
  }

  #sobre-mi-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 80vh;
  }
  #izquierda {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  #lista-proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .proyectos-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 60px;
    
  }
</style>
