---
import Layout from "@/layouts/Layout.astro";
import RedesBoton from "@/components/RedesBoton.astro";
import { Icon } from "astro-icon/components";
import BarNav from "@/components/BarNav.astro";
import Footer from "@/components/Footer.astro";
import Stacks from "@/components/Stacks.astro";
import Estudios from "@/components/Estudios.astro";
import ProyectsFront from "@/components/ProyectsFront.astro";
import ProyectsUx from "@/components/ProyectsUx.astro";
---

<Layout title="Gabriela Ferrer - Bienvenido a mi portafolio.">
  <BarNav />
  <main>
    <section id="sobre-mi-container">
      <div id="izquierda">
        <div id="foto-perfil"></div>
        <h2 class="font-bold">
          <span class="text-uno">Front-End</span> Developer <span class="text-uno">UX / UI</span> Designer
        </h2>
      </div>

      <div id="biografia">
        <div id="text">
          <h1 >Hola, soy <span class="font-bold text-uno">Gabriela Ferrer.</span></h1>
          <p>
            Como estudiante me encuentro empapándome de lo que es mundo visual
            del diseño web. Actualmente mis estudios se centran en Diseño UX UI
            y Desarrollo Front End. Mis conocimientos los adquiero mayormente
            de manera autodidacta y los afianzo mediante la práctica. Mi
            aspiración a corto&nbsp;-&nbsp;mediano plazo es formar parte de un equipo
            sólido donde pueda crecer y poner en practica lo que me apasiona.
          </p>
        </div>
        <div id="tags-container">
          <div id="mis-redes">
            <RedesBoton href="https://github.com/MorganSnape" text="Github">
              <Icon name="fa6-brands:github" />
            </RedesBoton>
            <RedesBoton
              href="https://www.linkedin.com/in/gabriela-de-los-angeles-ferrer-martinez-8a45771a4/"
              text="LinkedIn"
            >
              <Icon name="fa6-brands:linkedin" />
            </RedesBoton>
            <RedesBoton
              href="https://drive.google.com/file/d/1tMw3JAQtm4yafKsjk5v3OTWTX1Hub3a6/view?usp=sharing"
              text="Currículum"
            >
              <Icon name="bxs:file-blank" /></RedesBoton
            >
          </div>
          <div id="disponible">Disponible para trabajar</div>
        </div>
      </div>
    </section>

    <ProyectsFront />

    <Stacks />
    <ProyectsUx />

    <Estudios />
  </main>
  <Footer />
</Layout>

<style>
  /*Estilos Generales*/

  #foto-perfil {
    background-image: url(/images/Foto.webp);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border: solid white 5px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
    user-select: none;
  }

  h2 {
    width: 380px;
    text-align: center;
    font-size: 30px;
  }

  #biografia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
  }
  #tags-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  #mis-redes {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  #disponible {
    border: 1px solid #94ae7b;
    border-radius: 100px;
    color: #222c18;
    background: #bee09d;
    padding: 12px 80px;
    font-size: 16px;
    box-shadow: inset 0px 0px 10.3px 5px rgba(125, 147, 103, 0.25);
    font-weight: 450;
    user-select: none;
  }
  #sobre-mi-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    gap: 40px;
  }
  #izquierda {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }


  /*Vista movil*/
  @media (max-width: 768px) {
    main {
      padding-top: calc(var(--altura-header) + 10px);
    }
    #sobre-mi-container {
      flex-direction: column;
      padding-bottom: 28px;
      gap: 8px;
    }

    #text {
      text-wrap: pretty;
      text-align: center;
    }

    h1 {
      margin-bottom: 10px;
      font-size: 24px;
    }
    #izquierda {
      gap: 0;
    }
    h2 {
      text-wrap: balance;
      font-size: 24px;
    }
    p {
      font-size: 18px;
      margin: 0px 10px;
    }
    #foto-perfil {
      width: 160px;
      height: 160px;
    }

    #tags-container {
      padding-top: 40px;
      gap: 60px;
      padding-bottom: 20px;
    }

    #disponible {
      padding: 8px 40px;
      font-size: 16px;
    }
    [data-icon] {
      font-size: 24px;
    }
    #mis-redes {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }

  /*Vista computador*/
  @media (min-width: 768px) {
    [data-icon] {
      font-size: 20px;
    }
    #foto-perfil {
      width: 200px;
      height: 200px;
    }
    h1 {
      margin-bottom: 28px;
      font-size: 32px;
    }
    h2 {
      width: 380px;
      text-align: center;
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }

    #biografia {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 28px;

      #text {
        width: 680px;
        text-wrap: balance;
        text-align: left;
      }
      #tags-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        & #mis-redes {
          display: flex;
          flex-direction: row;
          gap: 24px;
        }
        & #disponible {
          padding: 12px 80px;
          font-size: 16px;
        }
      }
    }

    #sobre-mi-container {
      flex-direction: row;
      height: 100vh;
    }
    #izquierda {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 30px;
    }
  }
</style>
