---

---

<header style="position: sticky;">
  <nav>
    <ul>
      <li class="nav-item"><a href="/">Sobre Mí</a></li>
      <li class="nav-item"><a href="/">Proyectos</a></li>
      <li class="nav-item"><a href="/">Estudios</a></li>
      <li class="nav-item"><a href="/">Contactame</a></li>
    </ul>
  </nav>
</header>

<style>
  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
  }

  .nav-item {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: black;
  }

  a {
    padding: 4px;
  }
</style>
