---

---

<header style="position: fixed; right: 0; z-index: 4; width:100vw; background-image:url(/fondo.svg);background-size: 20px;">
  <nav>
    <a href="#sobre-mi-container" class="nav-item">Sobre Mí</a>
    <a href="#proyectos-container-frond" class="nav-item">Proyectos</a>
    <a href="#studies-container" class="nav-item">Estudios</a>
  </nav>
</header>

<style>
  nav {
    height: 52px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 40px;
    border-bottom: solid 0.5px #d8d8d8;
  }

  .nav-item {
    z-index: 4;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    padding: 10px;
    border: 2px solid transparent;
    transition: transform 0.1s ease-in-out;
  }

  .nav-item:hover{
    transform: scale(1.03);
    color: #666666 ;
  }

  .nav-item:active{
    font-weight: 600;
    color: black ;
  }

</style>
