---
import Subtitulo from "./Subtitulo.astro";
import Card from "./Card.astro";
---

<section id="studies-container">
  <Subtitulo align="center" type="Estudios" position="two"  id="studies"/>
  <div id="studies-list">
    <Card
      src="/images/Full-Stacks.png"
      href="https://drive.google.com/file/d/1wPlbcUjYIwA3q7k8TiRpzzAmSzoulnaL/view?usp=sharing"
      title="Diplomado - Programador Full Stack Junior"
      body="En alianza de la Universidad Tecnológica de Pereira y la Universidad Católica de Pereira | 2024"
    />

    <Card
      src="/images/personal-curso.png"
      href="https://app.aluracursos.com/degree/certificate/172dfcb2-3e29-48a3-b53e-950fcbc8e6f8?lang"
      title="Formación Desarrollo Personal G7 - ONE"
      body="En alianza de Alura Latam y Oracle. Curso dedicado al desarrodo de habilidades de habilidades blandas  | 2024 "
    />
  </div>
</section>

<style>
  #studies-container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  #studies-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
  }
</style>
