<footer id="footer" class="bg-[#ffe971] border-t border-black h-12 flex justify-center items-center">
  <a href="mailto:gabriellangeles@outlook.com" class="text-base font-semibold max-[360px]:text-sm">
    gabriellangeles@outlook.com
  </a>
</footer>