<div id="footer">
  <spam class="item-footer">gabriellangeles@outlook.com</spam>
  <spam class="item-footer">+57 3213266303</spam>
</div>

<style>
  #footer{
    background-color:#FFE971 ;
    border: solid black 1px;
    
    height: 48px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .item-footer{
    font-size: 16px;
    margin: 20px;
    font-weight: 600;
  }
</style>