---
import TegnologiaLogo from "./TegnologiaLogo.astro";
const { text, svg } = Astro.props;
---

<div class="flex flex-col gap-2 items-center text-center">
  <TegnologiaLogo logo={svg} />
  <p class="font-semibold text-sm lg:text-base">{text}</p>
</div>
