---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<div class="buttons-container">
  <a class="button-cards" href={href}> Code</a>
  <a class="button-cards button-icon" href={href}>
    <span>Live</span>
    <Icon name="ic:round-link" class="icon" />
  </a>
</div>

<style>
  .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
  }
  .button-cards {
    padding: 4px 14px 4px 14px;
    width: fit-content;
    background-color: #ffe971;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 4px 4px 0px #000000;

    font-size: 14px;
    font-weight: 600;
  }
  .icon {
    font-size: 16px;
    transition: transform 0.1s ease-in-out;
  }

  .button-icon {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .button-cards:hover {
    transform: scale(1.05);
    gap: 10px;
  }

  .button-cards:hover .icon {
    transform: rotate(40deg);
  }

  /*Vista movil*/
  @media (max-width: 768px) {
    .button-cards {
      padding: 4px 12px;
      font-size: 12px;
    }
  }

  /*Vista computador*/
  @media (min-width: 768px) {
    .button-cards {
      padding: 8px 14px;
      font-size: 14px;
    }
  }
</style>
