---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  name: string;
  title: string;
  target?: string;
}

const { href, name, title} = Astro.props;
let { target } = Astro.props;
if (!target) {
  target = "_blank";
}
---

  <a class="button-cards button-icon" href={href} {target}>
    <span>{title}</span>
    <Icon name={name} class="icon" />
  </a>

<style>
  .button-cards {
    text-align: center;
    height: 30px;
    width: 40%;
    border-radius: 10px;
    /* background-color: #000000; */
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.1s ease-in-out;
    
    /* box-shadow: 4px 4px 0px #000000; */
  }

  span {
    font-size: 16px;
    font-weight: 600;
  }
  .icon {
    font-size: 18px;
    transition: transform 0.1s ease-in-out;
  }

  .button-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
  }

  .button-cards:hover {
    transform: scale(1.05);
  }

  .button-cards:hover .icon {
    transform: rotate(40deg)  scale(1.05);
    margin-left: 10px;
  }

  /*Vista movil*/
  @media (max-width: 768px) {
    .button-cards {
      padding: 4px 12px;
      font-size: 12px;
    }
  }

  /*Vista computador*/
  @media (min-width: 768px) {
    .button-cards {
      padding: 8px 14px;
      font-size: 14px;
    }
  }
</style>
