---
import TegnologiaLogo from "./TegnologiaLogo.astro";

import AstroSvg from "../assets/astro.svg";
import FigmaSvg from "../assets/figma.svg";
import MiroSvg from "../assets/miro.svg";
import ReactSvg from "../assets/react.svg";
import TailwindSvg from "../assets/tailwind.svg";

const { title } = Astro.props;

const tecnologias = {
  Programación: {
    logos: [
      { logo: ReactSvg, alt: "Logo de React" },
      { logo: TailwindSvg, alt: "Logo de Tailwind" },
      { logo: AstroSvg, alt: "Logo de Astro" },
      { text: "JS", alt: "Logo de JavaScript" },
    ],
    skills: [
      "HTML, CSS, JavaScript",
      "React.js",
      "Componentes reutilizables",
      "Desarrollo responsive",
    ],
  },

  "Diseño UX/UI": {
    logos: [
      { logo: FigmaSvg, alt: "Logo de Figma" },
      { logo: MiroSvg, alt: "Logo de Miro" },
    ],
    skills: [
      "Diseño de interfaces",
      "Wireframing y prototipado",
      "Design Systems",
      "Investigación de usuario",
    ],
  },

  "Diseño Gráfico": {
    logos: [
      { text: "AI", alt: "Logo de Illustrator" },
      { text: "PS", alt: "Logo de Photoshop" },
      { text: "PR", alt: "Logo de Premiere" },
    ],
    skills: [
      "Identidad visual",
      "Edición y composición",
      "Material digital",
      "Branding",
    ],
  },
};

const tecnologiasSeleccionadas =
  tecnologias[title as keyof typeof tecnologias] || [];
---

<div
  class="bg-primary w-full min-h-64 border-2 border-black rounded-xl md:rounded-2xl "
>
  <div
    class="h-10 bg-white flex flex-row items-center gap-2 px-4 border-b-4 border-black rounded-t-xl md:rounded-t-2xl"
  >
    <div class="h-3 w-3 bg-black rounded-full"></div>
    <div class="h-3 w-3 bg-black rounded-full"></div>
    <div class="h-3 w-3 bg-black rounded-full"></div>
  </div>
  <div class="p-4 lg:px-6 lg:py-8 flex flex-col gap-4">
    <h4
      class="font-medium text-white text-lg md:text-lg lg:text-xl font-fantabular"
    >
      {title}
    </h4>
    <div class="flex flex-row flex-wrap gap-4">
      {
        tecnologiasSeleccionadas.logos.map((tecnologiaLogos) => (
          <TegnologiaLogo {...tecnologiaLogos} />
        ))
      }
    </div>
    <ul>
      {
        tecnologiasSeleccionadas.skills.map((tecnologiaSkill)=>(
          <li class="text-white list-disc list-inside">
            {tecnologiaSkill}
          </li>
        ))
      }
    </ul>
  </div>
</div>
