---
import TegnologiaLogo from "./TegnologiaLogo.astro";

import AstroSvg from "../assets/logos/astro.svg";
import FigmaSvg from "../assets/logos/figma.svg";
import MiroSvg from "../assets/logos/miro.svg";
import ReactSvg from "../assets/logos/react.svg";
import TailwindSvg from "../assets/logos/tailwind.svg";
import PsSvg from "../assets/logos/ps.svg";
import AiSvg from "../assets/logos/ai.svg";
import PrSvg from "../assets/logos/pr.svg";
import JavaScriptSvg from "../assets/logos/javaS.svg";
import NotionSvg from "../assets/logos/notion.svg";
import GitHubSvg from "../assets/logos/gitHub.svg";
import Claude from "../assets/logos/claude.svg";
import ChatGPT from "../assets/logos/chatGPT.svg";
import MidJourney from "../assets/logos/midJourney.svg";
import Canva from "../assets/logos/canva.svg";
import AdobeFirefly from "../assets/logos/adobeFirefly.svg";

const { title,bg } = Astro.props;

const tecnologias = {
  "Desarrollo Front-End": {
    logos: [
      { logo: ReactSvg, alt: "Logo de React" },
      { logo: TailwindSvg, alt: "Logo de Tailwind" },
      { logo: AstroSvg, alt: "Logo de Astro" },
      { logo: JavaScriptSvg, alt: "Logo de JavaScript" },
      { logo: GitHubSvg, alt: "Logo de GitHub" },
      { logo: Claude, alt: "Logo de Claude" },
      
    ],
    skills: [
      "HTML, CSS, JavaScript",
      "Integración UI",
      "Componentes reutilizables",
      "Desarrollo responsive",
    ],
  },

  "Diseño UX/UI": {
    logos: [
      { logo: FigmaSvg, alt: "Logo de Figma" },
      { logo: MiroSvg, alt: "Logo de Miro" },
      { logo: NotionSvg, alt: "Logo de Notion" },
      { logo: ChatGPT, alt: "Logo de ChatGPT" }
    ],
    skills: [
      "Arquitectura de información",
      "Wireframes y prototipos interactivos",
      "Sistemas de diseño",
      "Investigación de usuario",
    ],
  },

  "Diseño Gráfico": {
    logos: [
      { logo: AiSvg, alt: "Logo de Illustrator" },
      { logo: PsSvg, alt: "Logo de Photoshop" },
      { logo: PrSvg, alt: "Logo de Premiere" },
      { logo: Canva, alt: "Logo de Canva" },
      { logo: MidJourney, alt: "Logo de MidJourney" },
      {logo: AdobeFirefly, alt: "Logo de Adobe FireFly"},
    ],
    skills: [
      "Identidad visual",
      "Edición y composición",
      "Material digital",
      "Branding",
    ],
  },
};

const tecnologiasSeleccionadas =
  tecnologias[title as keyof typeof tecnologias] || [];
---

<div
  class={`${bg} w-full min-h-64 border-2 border-black rounded-xl md:rounded-2xl`}
>
  <div
    class="h-10 bg-white flex flex-row items-center gap-2 px-4 border-b-4 border-black rounded-t-xl md:rounded-t-2xl"
  >
    <div class="h-3 w-3 bg-black rounded-full"></div>
    <div class="h-3 w-3 bg-black rounded-full"></div>
    <div class="h-3 w-3 bg-black rounded-full"></div>
  </div>
  <div class="p-4 lg:px-6 lg:py-8 flex flex-col gap-4">
    <h4
      class="font-medium  text-lg md:text-lg lg:text-xl font-fantabular"
    >
      {title}
    </h4>
    <div class="flex flex-row flex-wrap gap-1">
      {
        tecnologiasSeleccionadas.logos.map((tecnologiaLogos) => (
          <TegnologiaLogo {...tecnologiaLogos} />
        ))
      }
    </div>
    <ul>
      {
        tecnologiasSeleccionadas.skills.map((tecnologiaSkill) => (
          <li class="font-medium list-disc list-inside">{tecnologiaSkill}</li>
        ))
      }
    </ul>
  </div>
</div>
