---
import Subtitulo from "../components/Subtitulo.astro";
import LiveCode from "./LiveCode.astro";
import CardV2 from "./CardV2.astro";
---

<section id="proyectos-container-frond">
  <div id="proyectos-front">
    <Subtitulo
      text="Mis Proyectos"
      align="aside"
      type="Front-End"
      position="one"
    />
    <CardV2
      size="md"
      tags={["Astro", "En proceso"]}
      src="/images/Amarilla.webp"
      title="Amarilla Garden"
      body="Emprendimiento dedicado a la venta de productos artesanales a base de cemento como macetas, porta incienso, etc."
    >
      <LiveCode href="https://www.amarillagarden.com/" name="ic:round-link" title="Live"/>
      <LiveCode href="https://github.com/stratos-code/Amarilla-Garden" name="fa6-brands:github" title="Ver GitHub"/>
    </CardV2>

    <CardV2
      size="md"
      tags={["Astro", "En proceso"]}
      src="/images/Rick-Morty.webp"
      title="Rick and Morty"
      body="Proyecto personal de estuidio usando la appi de la serie Rick and Morty."
    >
      <LiveCode href="https://rick-morty-page-opal.vercel.app/" name="ic:round-link" title="Live"/>
      <LiveCode href="https://github.com/MorganSnape/rick-morty-page" name="fa6-brands:github" title="Ver GitHub"/>
    </CardV2>
  </div>
</section>

<style>
  #proyectos-front {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
    background-image: url(/fondoDos.svg);
    background-size: 20px;
    padding: 80px 20px;
  }
  #proyectos-container-frond {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
</style>
