---
import Subtitulo from "./Subtitulo.astro";
import CardV2 from "./CardV2.astro";
import LiveCode from "./LiveCode.astro";
---

<section class="proyectos-container">
  <div id="proyectos-ux">
    <Subtitulo
      text="Mis Proyectos"
      align="aside"
      type="UX/UI Designer"
      position="one"
    />
    <CardV2
      size="md"
      tags={["Figma", "Ux Reserch"]}
      src="/images/Portada-Karol.webp"
      title="Boleteria - Karol Tour"
      body="Diseño y simulación de investigación como proyecto de curso de fundamentos de UX "
    >
      <LiveCode href="https://www.canva.com/design/DAGMqT_kH6I/xZXLJdPoHl6vCVJY4Unzaw/view?utm_content=DAGMqT_kH6I&utm_campaign=designshare&utm_medium=link&utm_source=editor" name="bxs:file-blank" title="Lee más"/>
      <LiveCode href="https://www.figma.com/design/TmJpPdMDclnhIoY0uZ60l1/Karol-G---Page?node-id=0-1&t=O07XXmERbl0GVXxO-1" name="fa6-brands:figma" title="Ver Figma"/>
    </CardV2>

    <CardV2
      size="md"
      tags={["Figma", "Ux Reserch"]}
      src="/images/Portada-Commet.webp"
      title="Commet.App"
      body="Diseño y simulación de investigación como proyecto de curso de fundamentos de U"
    >
      <LiveCode href="https://www.figma.com/board/fQ7XdEM2XVbajHYryBq5gw/Ejemplos-de-User-Persona?node-id=77-30&t=PdaDErt4jgtzhwJd-1" name="bxs:file-blank" title="Lee más"/>
      <LiveCode href="https://www.figma.com/design/q7khsSBJocn9TTIOirQoid/Commet.app?node-id=1-925&t=jqAwKcaA9aGDuylg-1" name="fa6-brands:figma" title="Ver Figma"/>
    </CardV2>
  </div>
</section>

<style>
  #proyectos-ux {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
    background-image: url(/fondoDos.svg);
    background-size: 20px;
    padding: 80px 20px;
  }
  .proyectos-container {
    display: flex;
    flex-direction: column;
  }
</style>
