---
import Subtitulo from "../components/Subtitulo.astro";
import Card from "../components/Card.astro";
import LiveCode from "./LiveCode.astro";
---

<section id="proyectos-container-frond">
  <div id="lista-proyectos">
    <Subtitulo
      text="Mis Proyectos"
      align="aside"
      type="Front-End"
      position="one"
    />
    <Card
      size="md"
      tags={["Astro", "En proceso"]}
      src="/images/Amarilla.png"
      href="/"
      title="Amarilla Garden"
      body="Pagina dedicada dedicadas a la venta de plantas..."
    >
      <!-- <LiveCode href="#" /> -->
    </Card>

    <Card
      size="sm"
      tags={["Astro", "En proceso"]}
      src="/images/Rick-Morty.png"
      href="/"
      title="Amarilla Garden"
      body="Pagina dedicada dedicadas a la venta de plantas..."
    >
      <!-- <LiveCode href="#" /> -->
    </Card>
  </div>
</section>

<style>
  #lista-proyectos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-image: url(/fondoDos.svg);
    background-size: 20px;
    padding: 80px 0px;
  }
  #proyectos-container-frond {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
</style>
