---
interface Props {
  text: string;
  href: string;
  target?: string;
  block?: boolean;
}

const { text, href,block } = Astro.props;
---

<a
  {href}
  class="primaryButton bg-primary text-white gap-2.5 px-4 py-2 text-base md:px-5 md:py-2 md:text-sm"
  target="_blank"
>
  <slot />
  {block ? (
    <span class="hidden md:block">{text}</span>
  ) : (
    <span >{text}</span>
  )}
</a>
