---
interface Props {
  text: string;
  href: string;
  target?: string;
  block?: boolean;
}

const { text, href,block } = Astro.props;
---

<a
  {href}
  class="select-none flex flex-row justify-center items-center gap-2.5 font-medium w-fit bg-[#8c659b] text-white border border-black rounded-lg transition-transform duration-100 ease-in-out hover:scale-105 px-4 py-2 text-base shadow-[4px_4px_0px_#000000] md:px-5 md:py-2 md:text-sm md:shadow-[8px_8px_0px_#000000]"
  target="_blank"
>
  <slot />
  {block ? (
    <span class="hidden md:block">{text}</span>
  ) : (
    <span >{text}</span>
  )}
</a>
