---
interface Props {
  text: string;
  href: string;
  target?: string;
}

const { text, href } = Astro.props;

let { target } = Astro.props;

if (!target) {
  target = "_blank";
}
---

<div>
  <a {href} class="red-boton" {target}> <slot /> {text}</a>
</div>

<style>
  .red-boton {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;

    width: fit-content;
    background-color: #8c659b;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;
  }

  .red-boton:hover {
    transform: scale(1.03);
  }
  @media (max-width: 768px) {
    .red-boton {
      padding: 4px 14px;
      font-size: 16px;
      box-shadow: 4px 4px 0px #000000;
    }

    @media (min-width: 768px) {
      .red-boton {
        padding: 8px 18px;
        font-size: 14px;
        box-shadow: 8px 8px 0px #000000;
      }
    }
  }
</style>
