---
interface Props {
  text: string;
  href: string;
  target?: string;
}

const { text, href } = Astro.props;

let { target } = Astro.props;

if (!target) {
  target = "_blank";
}
---

<div>
  <a {href} class="red-boton" {target}> <slot /> {text}</a>
</div>

<style>
  .red-boton {
    user-select:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 18px;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;

    width: fit-content;
    background-color: #8c659b;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 8px 8px 0px #000000;
    transition: transform 0.1s ease-in-out;
  }

  .red-boton:hover{
    transform: scale(1.03);
  }
</style>
