---
import { Icon } from "astro-icon/components";

const stacks = ["html", "css", "js", "astro", "figma"];

const MAP_STACK_TO_INFO: Record<string, { src: string }> = {
  html: {
    src: "skill-icons:html",
  },
  css: {
    src: "skill-icons:css",
  },
  js: {
    src: "skill-icons:javascript",
  },
  astro: {
    src: "skill-icons:astro",
  },
  figma: {
    src: "skill-icons:figma-dark",
  },
} as const;

const cssColors = {
  htmlColor: "orange",
  cssColor: "blue",
  jsColor: "yellou",
  astroColor: "purpule",
  figmaColor: "gray",
};
---

<article id="icons-container">
  {
    stacks.map((stack) => {
      const { src } = MAP_STACK_TO_INFO[stack];

      return (
        <div>
          <Icon class="stack" name={src} />
        </div>
      );
    })
  }
</article>

<style>
  #icons-container {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
  }

  div {
    display: flex;
    justify-content: center;

    padding: 0px;
    border-radius: 100%;

    position: relative;

    &::before {
      z-index: -1;
      content: "";
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-box-shadow: 0px 0px 30px 17px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 30px 17px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 30px 17px rgba(0, 0, 0, 0.75);
    }
  }

  .stack {
    font-size: 44px;
  }
</style>
