---

---
<article class="subt-container">
  <div class="elements-container">
    <p>Mis Proyectos</p>
    <p class="espaciado">Front-End</p>
  </div>

  <div class="line"></div>
</article>

<style>
  .subt-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .line{
    width: calc(100%);
    background-color: #000000;
    height: 8px;
    flex: 1;
  }

  .elements-container{
    font-family:"Montserrat", sans-serif; ;
    display: flex;
    flex-direction: row;
    background-color:#FFE971 ;
    width: fit-content;
    padding: 10px 48px;
    border: black 1px solid;
    gap:20px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 8px 8px 0px #000000;

  }

  .espaciado{
    letter-spacing: 8px; 
    font-weight: 700;
  }
</style>