---
interface Props {
  text?: string;
  type?: string | null;
  align: "aside" | "center";
  position?: "one" | "two";
  id?: string;
}
let { align, text, type, position, id } = Astro.props;
---

<article
  class:list={[
    "subt-container",
    "subt-container-" + align,
    "subt-position-" + position,
  ]}
  id={id}
>
  <div class:list={["elements-container", "borde-subt", "subt-" + align]}>
    <p>{text} <strong class="espaciado">{type}</strong></p>
  </div>
</article>

<style>
  .subt-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100%;
    z-index: 3;
    padding: 16px 0px 16px 0px;
    user-select: none;
  }

  .subt-container-center {
    justify-content: center;
  }

  .subt-aside {
    box-shadow: 6px 6px 0px #000000;
    width: fit-content;
    position: relative;
    margin-left: 40px;
  }

  .borde-subt::before {
    position: absolute;
    content: "";
    width: 200vw;
    z-index: -1;
    left: -50%;
    top: 50%;
    border: solid 4px black;
  }

  .subt-center {
    box-shadow: 0px 4px 0px #000000;
    width: 240px;
    justify-content: center;
  }

  .elements-container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #ffe971;

    padding: 10px 48px;
    border: black 1px solid;
    gap: 20px;
    font-size: 16px;
    font-weight: 600;
  }

  .espaciado {
    letter-spacing: 8px;
    font-weight: 700;
    margin-left: 10px;
  }

 

  @media (max-width: 768px)  {

    .elements-container {
      width: fit-content;
      font-size: 12px;
      padding: 10px 30px;
    }
    .subt-position-one {
      top: -60px;
    }
    .subt-position-two {
      top: -60px;
    }

    .subt-aside {
    margin-left: 10px;
  }
  }

  @media (min-width: 768px){
    .elements-container {
    padding: 10px 48px;
    font-size: 16px;
  }

  .subt-position-one {
    top: -60px;
  }
  .subt-position-two {
    top: -60px;
  }
  }
</style>
