---
interface Props {
  text?: string | null;
  type?: string | null;
  align: "left" | "center" | "right";
}

enum aligns {
  left = "left",
  center = "center",
  right = "right",
}

const { align, text, type } = Astro.props;
---

<div class="w-screen relative h-2 flex items-center">
  <h3
    class:list={aligns[align]}
    class="bg-secondary min-w-[18rem] md:min-w-sm absolute h-14 md:h-16 bottom-[100%] translate-y-1/2 flex items-center justify-center border-1 border-black py-2 md:py-6 px-6 md:px-12 gap-4 font-semibold text-center text-sm md:text-base"
  >
    <span>{text}</span>
    <span class="tracking-[6px] font-bold">{type}</span>
  </h3>
  <div class="bg-black w-full h-2"></div>
</div>

<style>
  .left {
    left: 20px;
  }
  .center {
    transform: translateX(-50%);
    left: 50%;
    box-shadow: 0px 4px 0px #000000;
  }
  .right {
    right: 20px;
  }

  .left,
  .right {
    box-shadow: 6px 6px 0px #000000;
  }

  @media screen and (min-width: 768px) {
    .left{
      left: 40px;
    }
    .right {
      right: 40px;
    }
  }
</style>
