---
const { logo: Logo, alt, text } = Astro.props;
---

<div class="group relative flex flex-col items-center select-none">
  <div
    class="border-2 border-black w-11 md:w-14 h-11 md:h-14 flex justify-center items-center"
  >
    <div class="aspect-square font-black text-black border-2 border-black p-1">
      {
        Logo ? (
          <Logo class="w-5 md:w-8 h-5 md:h-8" />
        ) : (
          <span class="text-xs md:text-2xl font-fantabular h-fit aspect-square">{text}</span>
        )
      }
    </div>
  </div>
  <!-- tooltip -->
  <div
    class="z-20 absolute -bottom-7 -right-1/2  mb-2 opacity-0 group-hover:opacity-100 transition-all duration-200 pointer-events-none shadow-2xl"
  >
    <span
      class="bg-black border-2 border-white text-white text-xs px-2 py-1 rounded whitespace-nowrap"
    >
      {alt}
    </span>
  </div>
</div>
