---
import {Image} from "astro:assets"
import Button from "@/components/Button.astro";
import SocialMediaButtons from "@/components/SocialMediaButtons.astro";


import IlustracionMia  from "@/assets/Ilustraciones/Yo.webp";
import ArrowIcon from "@/assets/flecha.svg";
---

<div
  class="w-full bg-[url(/fondoDos.svg)] bg-[length:30px] pb-20 lg:h-[110vh] max-h-[1080px] "
>
  <section
    id="inicio"
    class="mx-auto py-20 lg:py-0 lg:h-screen max-w-[1280px] w-full flex flex-col lg:flex-row items-center justify-center lg:justify-between gap-8 lg:gap-0 px-4 md:px-[clamp(0.75rem,_-1.974rem_+_14.53vw,_5rem)] lg:px-8 xl:px-0 font-medium"
  >
    <div class="font-bold flex flex-col items-center w-full max-w-[640px]">
      <Image src={IlustracionMia} alt="Ilustración estilo caricatura de Gabriela Ferrer" class="w-2/3"/>
    </div>
    <div
      id="biografia"
      class="w-full lg:w-1/2 flex flex-col gap-4 lg:gap-8 text-center lg:text-left"
    >
      <div
        class="tag-me bg-tag lg:mx-0 py-2 px-4 text-base md:text-lg mx-auto"
      >
        ¡Hola! soy
      </div>
      <div class="flex gap-4 flex-col">
        <h1
          class="font-extrabold font-fantabular text-3xl md:text-[40px] text-pink"
        >
          <span class="text-white">Gabriela</span> Ferrer<span
            class="text-secondary">.</span
          >
        </h1>
        <p
          class="text-base lg:text-xl font-normal leading-tight text-white text-balance"
        >
          Diseñadora Gráfica, UX/UI y Desarrolladora Front-End.
        </p>
        <p
          class="text-base lg:text-lg font-normal leading-tight text-white text-balance"
        >
        Diseño experiencias digitales centradas en las personas y las conecto con soluciones visuales estratégicas y código funcional, accesible y estético.
        </p>
      </div>
      <div class="flex gap-8 flex-col items-center lg:items-start">
        <div class="flex flex-row gap-6">
          <Button
            text="Ver mis proyectos"
            typeIcon
            style="solid"
            href="#proyectos-container"
          >
            <ArrowIcon class="w-8" />
          </Button>
          <Button text="Currículum" style="transparent" href="/curriculum" />
        </div>
        <SocialMediaButtons/>
      </div>
    </div>
  </section>
</div>
