---
import { proyectos } from "@/data/portfolio.ts";

import Card from "@/components/Card.astro";
import ProyectosContainer from "../ProyectosContainer.astro";
import Subtitulo from "../Subtitulo.astro";

const uxProjects = proyectos.filter((project) => project.type.includes("UX"));
const frontProjects = proyectos.filter((project) =>
  project.type.includes("Front"),
);
---

<section
  id="proyectos-container"
  class="bg-[url(/fondoDos.svg)] bg-[length:20px] w-screen flex flex-col items-center min-h-[600px]"
>
  <Subtitulo align="left" text="Proyectos" type="Diseño" />

  <div id="design-projects" class="py-18 md:py-28 w-11/12 max-w-[1140px]">
    <ProyectosContainer>
      {uxProjects.map((proyecto) => <Card section="UX" {...proyecto} />)}
    </ProyectosContainer>
  </div>
  <Subtitulo align="right" text="Proyectos" type="Front - End" />

  <div
    id="front-projects"
    class="py-18 md:py-28 w-11/12 max-w-[1140px] mx-auto"
  >
    <ProyectosContainer>
      {frontProjects.map((proyecto) => <Card section="Front" {...proyecto} />)}
    </ProyectosContainer>
  </div>
</section>
