---
import { proyectos } from "@/data/portfolio.ts";

import Card from "@/components/Card.astro";

const uxProjects = proyectos.filter((project) => project.type.includes("UX"));
const frontProjects = proyectos.filter((project) =>
  project.type.includes("Front"),
);
---

<section
  id="proyectos-container"
  class="bg-[url(/fondoDos.svg)] bg-[length:20px] w-screen flex flex-col items-center min-h-[600px]"
>
  <div>
    <div class="w-screen relative h-2 flex items-center">
      <div
        class="flex flex-row gap-0 items-center absolute bottom-[100%] translate-y-1/2 left-8 md:left-20"
      >
        <button
          id="btn-ux"
          class="bottonProyectos translate-0 flex items-center justify-center"
        >
          <span class="tracking-[6px] font-bold">UX/UI</span>
        </button>
        <button
          id="btn-front"
          class="bottonProyectos translate-1.5 shadow-[0px_0px_0px_#141414] flex items-center justify-center gap-4 font-semibold text-center text-sm md:text-base"
        >
          <span class="tracking-[6px] font-bold">Front-end</span>
        </button>
      </div>
      <div class="bg-black w-full h-2"></div>
    </div>
  </div>
  <div id="ux-projects" class="gap-12 py-28 px-6 flex flex-col justify-center">
    <h3
      class="primaryButton gap-2 mx-auto w-fit lg:mx-0 py-2 px-8 bg-white/30 text-center text-xl lg:text-2xl"
    >
      Proyectos <span class="font-bold">UX/UI</span>
    </h3>
    {uxProjects.map((proyecto) => <Card section="UX" {...proyecto} />)}
  </div>

  <div
    id="front-projects"
    class="gap-12 hidden py-28 px-6 flex flex-col justify-center"
  >
    <h3
      class="primaryButton gap-2 mx-auto w-fit lg:mx-0 py-2 px-8 bg-white/30 text-center text-xl lg:text-2xl"
    >
      Proyectos <span class="font-bold">Front-end</span>
    </h3>
    {frontProjects.map((proyecto) => <Card section="Front" {...proyecto} />)}
  </div>
</section>

<script>
  const btnFront = document.getElementById("btn-front");
  const btnUx = document.getElementById("btn-ux");

  const front = document.getElementById("front-projects");
  const ux = document.getElementById("ux-projects");

  btnFront?.addEventListener("click", () => {
    front?.classList.remove("hidden");
    ux?.classList.add("hidden");
  });
  btnUx?.addEventListener("click", () => {
    ux?.classList.remove("hidden");
    front?.classList.add("hidden");
  });

  function setActive(activeBtn: HTMLElement | null, inactiveBtn: HTMLElement | null) {
    if (!activeBtn || !inactiveBtn) return;
    // Activar
    activeBtn.classList.remove("translate-1.5", "shadow-[0px_0px_0px_#141414]");
    activeBtn.classList.add("translate-0");

    // Desactivar
    inactiveBtn.classList.remove("translate-0");
    inactiveBtn.classList.add("translate-1.5", "shadow-[0px_0px_0px_#141414]");
  }

  btnFront?.addEventListener("click", () => {
    setActive(btnFront, btnUx);
  });

  btnUx?.addEventListener("click", () => {
    setActive(btnUx, btnFront);
  });
</script>
