---
import Subtitulo from "@/components/Subtitulo.astro";
import NavegadorStacks from "../NavegadorStacks.astro";
---

<section id="sobre-mi" class="w-screen flex flex-col items-center text-black">
  <Subtitulo align="center" type="Sobre m칤" />
  <div
    class="max-w-[1024px] px-[clamp(0.75rem,_-1.974rem_+_14.53vw,_5rem)] lg:px-0 flex flex-col gap-6"
  >
    <div
      class="flex flex-col lg:flex-row items-center justify-center gap-10 py-20"
    >
      <div class="lg:w-1/2 flex flex-col gap-6">
        <div class="flex flex-col gap-3">
          <h3 class="titleH3">Qui칠n soy y qu칠 hago</h3>
          <p
            class="text-sm lg:text-base text-black leading-relaxed text-balance"
          >
            Soy Gabriela Ferrer, una desarrolladora Front-End y dise침adora UX/UI
            apasionada por crear experiencias digitales que sean tanto
            funcionales como hermosas. Con formaci칩n en dise침o gr치fico y
            desarrollo web, combino habilidades t칠cnicas con dise침o para
            resolver problemas complejos.
          </p>
        </div>
      </div>
      <div class="lg:w-1/2 flex justify-center">
        <div
          class="bg-primary border-2 border-black rounded-xl md:rounded-2xl overflow-hidden"
        >
          <div
            class="h-10 bg-white flex flex-row items-center gap-2 px-4 border-b-4 border-black"
          >
            <div class="h-3 w-3 bg-black rounded-full"></div>
            <div class="h-3 w-3 bg-black rounded-full"></div>
            <div class="h-3 w-3 bg-black rounded-full"></div>
          </div>
          <div class="p-4 lg:px-6 lg:py-8">
            <h4 class="font-semibold text-white text-xl mb-4 font-jost">
              Creo en la importancia de la empat칤a
            </h4>
            <p
              class="text-sm lg:text-base font-medium text-white leading-relaxed"
            >
              En el dise침o. Cada proyecto es una oportunidad para entender las
              necesidades reales de los usuarios y crear soluciones que hagan
              una diferencia. Me gusta trabajar en equipo, aprender
              constantemente y llevar mis ideas del concepto a la realidad.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-3">
        <h3 class="titleH3">Fuera del c칩digo</h3>
        <p class="text-sm lg:text-base text-gray-700 leading-relaxed">
          Cuando no estoy dise침ando o programando, me gusta disfrutar de
          actividades creativas y aventureras que alimentan mi inspiraci칩n:
        </p>
      </div>
      <div class="grid grid-cols-2 lg:grid-cols-5 gap-4">
        <div class="flex flex-col gap-2 items-center text-center">
          <div class="bg-secondary p-4 rounded-lg font-bold text-xl">游빘</div>
          <h4 class="font-semibold text-sm lg:text-base">Tejer</h4>
          <p class="text-xs lg:text-sm text-gray-600">
            Crear algo con mis manos
          </p>
        </div>
        <div class="flex flex-col gap-2 items-center text-center">
          <div class="bg-secondary p-4 rounded-lg font-bold text-xl">游꿛</div>
          <h4 class="font-semibold text-sm lg:text-base">Pintar</h4>
          <p class="text-xs lg:text-sm text-gray-600">
            Expresi칩n art칤stica libre
          </p>
        </div>
        <div class="flex flex-col gap-2 items-center text-center">
          <div class="bg-secondary p-4 rounded-lg font-bold text-xl">游꿗</div>
          <h4 class="font-semibold text-sm lg:text-base">Cantar</h4>
          <p class="text-xs lg:text-sm text-gray-600">Mi forma de expresarme</p>
        </div>
        <div class="flex flex-col gap-2 items-center text-center">
          <div class="bg-secondary p-4 rounded-lg font-bold text-xl">游</div>
          <h4 class="font-semibold text-sm lg:text-base">Senderismo</h4>
          <p class="text-xs lg:text-sm text-gray-600">
            Conexi칩n con la naturaleza
          </p>
        </div>
        <div class="flex flex-col gap-2 items-center text-center">
          <div class="bg-secondary p-4 rounded-lg font-bold text-xl">九걾잺</div>
          <h4 class="font-semibold text-sm lg:text-base">Viajar</h4>
          <p class="text-xs lg:text-sm text-gray-600">
            Descubrir nuevas culturas
          </p>
        </div>
      </div>
    </div>

    <div id="stacks" class="py-12">
      <h3 class="titleH3 mb-4">Stacks</h3>

      <div class="flex flex-col items-center md:items-start md:flex-row w-full md:justify-between">
        <NavegadorStacks title="Programaci칩n" />
        <NavegadorStacks title="Dise침o UX/UI" />
        <NavegadorStacks title="Dise침o Gr치fico" />
      </div>
    </div>
  </div>
</section>
