---
import Subtitulo from "@/components/Subtitulo.astro";
import NavegadorStacks from "../NavegadorStacks.astro";

import Exclamacion from "@/icons/exclamacion.svg";
import Decoracion from "@/icons/decoracion-cuadros.svg"
---

<section
  id="sobre-mi"
  class="w-screen flex flex-col items-center text-black z-10 -mt-10"
>
  <Subtitulo align="center" type="Sobre mí" />
  <div
    class="mt-20 max-w-[1280px] px-[clamp(0.75rem,_-1.974rem_+_14.53vw,_5rem)] lg:px-0 flex flex-col gap-6"
  >
    <div
      class="grid grid-cols-1 lg:grid-cols-2 items-center gap-0 lg:gap-32 justify-items-center"
    >
      <div class="flex flex-col gap-6">
        <div class="relative w-fit">
          <h3 class="titleH3 efectoResaltador">Quién soy y qué hago</h3>
          <Exclamacion class="absolute h-12 w-12 -top-8 -right-10"  />
        </div>
        <p class="text-base lg:text-lg text-black leading-tight text-balance font-normal">
          ¡Hola! Soy Gabriela Ferrer. Mi trabajo se sitúa en la intersección
          entre la <strong>creatividad visual</strong>, la<strong>
            experiencia del usuario</strong
          > y el <strong>desarrollo frontend.</strong>
          <br /><br />
          Actualmente, curso la carrera tecnológica en Diseño Gráfico en el
          <strong>SENA</strong> y busco mi primera oportunidad de pasantía para aplicar
          mis habilidades en comunicación visual y diseño de interfaces. No solo
          diseño el cómo se ve una aplicación en Figma; también entiendo cómo cobrarle
          vida utilizando tecnologías como React, JavaScript y TailwindCSS.
        </p>
        <div class="flex justify-end">
          <Decoracion class="w-40 lg:w-60"/>
        </div>
      </div>
      <img
      class="w-11/12 max-w-xl"
        src="public/images/tarjeta-presentacion.webp"
        alt="Imagen que contiene un resumen de perfil profesional de Gabriela Ferrer"
      />
    </div>
    <div id="stacks" class="py-12">
      <h3 class="titleH3 efectoResaltador m-4">Stacks</h3>

      <div
        class="flex flex-wrap justify-evenly items-center content-center gap-y-6 w-full mx-auto"
      >
        <NavegadorStacks title="Diseño UX/UI" />
        <NavegadorStacks title="Programación" />
        <NavegadorStacks title="Diseño Gráfico" />
      </div>
    </div>
  </div>
</section>
