---
import Subtitulo from "@/components/Subtitulo.astro";
import NavegadorStacks from "../NavegadorStacks.astro";
import Hobbies from "../Hobbies.astro";
import PintarSvg from "@/assets/pintar.svg";
import CantarSvg from "@/assets/cantar.svg";
import SenderismoSvg from "@/assets/senderismo.svg";
import TravelSvg from "@/assets/travel.svg";
import TejerSvg from "@/assets/tejer.svg";

const hobbies = [
  {
    text: "Pintar",
    svg: PintarSvg,
  },
  {
    text: "Tejer",
    svg: TejerSvg,
  },
  {
    text: "Cantar",
    svg: CantarSvg,
  },
  {
    text: "Senderismo",
    svg: SenderismoSvg,
  },
  {
    text: "Viajar",
    svg: TravelSvg,
  },
];
---

<section id="sobre-mi" class="w-screen flex flex-col items-center text-black">
  <Subtitulo align="center" type="Sobre mí" />
  <div
    class="max-w-[1024px] px-[clamp(0.75rem,_-1.974rem_+_14.53vw,_5rem)] lg:px-0 flex flex-col gap-6"
  >
    <div
      class="flex flex-col lg:flex-row items-center justify-center gap-10 py-20"
    >
      <div class="lg:w-1/2 flex flex-col gap-6">
        <div class="flex flex-col gap-3">
          <h3 class="titleH3 efectoResaltador">Quién soy y qué hago</h3>
          <p
            class="text-sm lg:text-base text-black leading-relaxed text-balance"
          >
            ¡Hola! Soy Gabriela Ferrer. Mi trabajo se sitúa en la intersección
            entre la <strong>creatividad visual</strong>, la<strong
              >experiencia del usuario</strong
            > y el <strong>desarrollo frontend.</strong>
          </p>
          <p>
            Actualmente, curso la carrera tecnológica en Diseño Gráfico en el
            <strong>SENA</strong> y busco mi primera oportunidad de pasantía para
            aplicar mis habilidades en comunicación visual y diseño de interfaces.
            No solo diseño el cómo se ve una aplicación en Figma; también entiendo
            cómo cobrarle vida utilizando tecnologías como React, JavaScript y TailwindCSS.
          </p>
        </div>
      </div>
      <div class="lg:w-1/2 flex justify-center">
        <div
          class="bg-primary border-2 border-black rounded-xl md:rounded-2xl overflow-hidden"
        >
          <div
            class="h-10 bg-white flex flex-row items-center gap-2 px-4 border-b-4 border-black"
          >
            <div class="h-3 w-3 bg-black rounded-full"></div>
            <div class="h-3 w-3 bg-black rounded-full"></div>
            <div class="h-3 w-3 bg-black rounded-full"></div>
          </div>
          <div class="p-4 lg:px-6 lg:py-8">
            <h4 class="font-semibold text-white text-xl mb-4 font-jost">
              ¿Qué traigo a la mesa?
            </h4>
            <ul class="list-disc list-outside text-white leading-tight text-sm lg:text-base font-medium pl-4 flex flex-col gap-3">
              <li>
                <span class="font-semibold">Visión Gráfica:</span> Manejo avanzado de la suite de Adobe para piezas
                visuales con impacto.
              </li>
              <li>
                <span class="font-semibold">UX/UI:</span> Metodologías de Design Thinking y Research para
                decisiones basadas en datos.
              </li>
              <li>
                <span class="font-semibold">Frontend:</span> Capacidad de maquetar e implementar interfaces
                modernas y accesibles."
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-3">
        <h3 class="titleH3 efectoResaltador">Mis pasatiempos</h3>
        <p class="text-sm lg:text-base leading-relaxed text-balance">
          Cuando no estoy diseñando o programando, me gusta disfrutar de
          actividades creativas y aventureras que alimentan mi inspiración:
        </p>
      </div>
      <div class="grid grid-cols-2 lg:grid-cols-5 gap-4">
        {
          hobbies.map((hobby) => (
            <Hobbies text="Pintar" svg={hobby.svg} text={hobby.text} />
          ))
        }
      </div>
    </div>

    <div id="stacks" class="py-12">
      <h3 class="titleH3 efectoResaltador m-4">Stacks</h3>

      <div
        class="flex flex-col gap-4 md:gap-0 items-center md:items-start md:flex-row w-full md:justify-between"
      >
        <NavegadorStacks title="Programación" />
        <NavegadorStacks title="Diseño UX/UI" />
        <NavegadorStacks title="Diseño Gráfico" />
      </div>
    </div>
  </div>
</section>
