---
import Subtitulo from "@/components/Subtitulo.astro";
import NavegadorStacks from "../NavegadorStacks.astro";
import Hobbies from "../Hobbies.astro";
import PintarSvg from "@/assets/pintar.svg";
import CantarSvg from "@/assets/cantar.svg";
import SenderismoSvg from "@/assets/senderismo.svg";
import TravelSvg from "@/assets/travel.svg";
import TejerSvg from "@/assets/tejer.svg";

const hobbies = [
  {
    text: "Pintar",
    svg: PintarSvg,
  },
  {
    text: "Tejer",
    svg: TejerSvg,
  },
  {
    text: "Cantar",
    svg: CantarSvg,
  },
  {
    text: "Senderismo",
    svg: SenderismoSvg,
  },
  {
    text: "Viajar",
    svg: TravelSvg,
  },
];
---

<section id="sobre-mi" class="w-screen flex flex-col items-center text-black">
  <Subtitulo align="center" type="Sobre mí" />
  <div
    class="max-w-[1024px] px-[clamp(0.75rem,_-1.974rem_+_14.53vw,_5rem)] lg:px-0 flex flex-col gap-6"
  >
    <div
      class="flex flex-col lg:flex-row items-center justify-center gap-10 py-20"
    >
      <div class="lg:w-1/2 flex flex-col gap-6">
        <div class="flex flex-col gap-3">
          <h3 class="titleH3 efectoResaltador">Quién soy y qué hago</h3>
          <p
            class="text-sm lg:text-base text-black leading-relaxed text-balance"
          >
            Soy Gabriela Ferrer, una desarrolladora Front-End y diseñadora UX/UI
            apasionada por crear experiencias digitales que sean tanto
            funcionales como hermosas. Con formación en diseño gráfico y
            desarrollo web, combino habilidades técnicas con diseño para
            resolver problemas complejos.
          </p>
        </div>
      </div>
      <div class="lg:w-1/2 flex justify-center">
        <div
          class="bg-primary border-2 border-black rounded-xl md:rounded-2xl overflow-hidden"
        >
          <div
            class="h-10 bg-white flex flex-row items-center gap-2 px-4 border-b-4 border-black"
          >
            <div class="h-3 w-3 bg-black rounded-full"></div>
            <div class="h-3 w-3 bg-black rounded-full"></div>
            <div class="h-3 w-3 bg-black rounded-full"></div>
          </div>
          <div class="p-4 lg:px-6 lg:py-8">
            <h4 class="font-semibold text-white text-xl mb-4 font-jost">
              Creo en la importancia de la empatía
            </h4>
            <p
              class="text-sm lg:text-base font-medium text-white leading-relaxed"
            >
              En el diseño. Cada proyecto es una oportunidad para entender las
              necesidades reales de los usuarios y crear soluciones que hagan
              una diferencia. Me gusta trabajar en equipo, aprender
              constantemente y llevar mis ideas del concepto a la realidad.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-3">
        <h3 class="titleH3 efectoResaltador">Mis pasatiempos</h3>
        <p class="text-sm lg:text-base leading-relaxed text-balance">
          Cuando no estoy diseñando o programando, me gusta disfrutar de
          actividades creativas y aventureras que alimentan mi inspiración:
        </p>
      </div>
      <div class="grid grid-cols-2 lg:grid-cols-5 gap-4">
        {
          hobbies.map((hobby) => (
            <Hobbies text="Pintar" svg={hobby.svg} text={hobby.text} />
          ))
        }
      </div>
    </div>

    <div id="stacks" class="py-12">
      <h3
        class="titleH3 efectoResaltador m-4"
      >
        Stacks
      </h3>

      <div
        class="flex flex-col gap-4 md:gap-0 items-center md:items-start md:flex-row w-full md:justify-between"
      >
        <NavegadorStacks title="Programación" />
        <NavegadorStacks title="Diseño UX/UI" />
        <NavegadorStacks title="Diseño Gráfico" />
      </div>
    </div>
  </div>
</section>
