<div
  class="my-4 h-fit bg-white border-2 border-black rounded-xl md:rounded-2xl overflow-hidden"
>
  <div
    class="h-10 bg-white flex flex-row items-center gap-2 px-4 border-b-4 border-black rounded-t-xl md:rounded-t-2xl"
  >
    <div class="h-3 w-3 bg-black rounded-full"></div>
    <div class="h-3 w-3 bg-black rounded-full"></div>
    <div class="h-3 w-3 bg-black rounded-full"></div>
  </div>
  <div class="bg-[#24292e]">
    <slot />
  </div>
</div>
