---
import Estrella from '@/assets/estrella.svg'
---

<div class="w-full flex flex-row items-center justify-center gap-2">
  <div class="w-full h-0.5 bg-black mr-3"></div>
  <Estrella class="h-8" />
  <Estrella class="h-12" />
</div>
