---
import "@/styles/global.css";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Diseñadora UI/UX y frontend Developer. Actualmente mis estudios se centran en Diseño UI/UX y Desarrollo Front End. Mis conocimientos los adquiero mayormente de manera autodidacta y los afianzo mediante la practica."
    />
    <meta
      name="keywords"
      content="ux designer,ui designer,ux/ui,ui,ux,frontend,front-end,front end,figma,miro,figjam,html,css,javascript,react,astro,tailwind,diseño web,aplicaciones,portafolio,developer,disponible,Gabriela Ferrer,Gaby ferrer"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Gabriela Ferrer" />
    <meta name="publisher" content="https://github.com/MorganSnape" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/eft1vyl.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --altura-header: 60px;
    --fondo: url(/fondo.svg);
  }
  html {
    font-weight: 400;
    background-image: url(/fondo.svg);
    background-size: 30px;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    font-family: "Rethink Sans", sans-serif;
  }

  body {
    position: relative;
    margin: 0px;
    overflow-x: hidden;
    /* cursor:
      url("images/cursores/cursor.png") 4 4,
      auto; */
  }
  /* a,
  button,
  [role="button"] {
    cursor:
      url("/images/cursores/cursor-pointer.png") 4 4,
      pointer;
  } */

  /* p,
  span,
  h1,
  h2,
  h3,
  label,
  input,
  textarea {
    cursor:
      url("/images/cursores/cursor-texto.png") 4 4,
      text;
  } */

  a {
    text-decoration: none;
  }
</style>
