---
import "@/styles/global.css";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Diseñadora UI/UX y frontend Developer. Actualmente mis estudios se centran en Diseño UI/UX y Desarrollo Front End. Mis conocimientos los adquiero mayormente de manera autodidacta y los afianzo mediante la practica."
    />
    <meta
      name="keywords"
      content="ux designer,ui designer,ux/ui,ui,ux,frontend,front-end,front end,figma,miro,figjam,html,css,javascript,react,astro,tailwind,diseño web,aplicaciones,portafolio,developer,disponible,Gabriela Ferrer,Gaby ferrer"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Gabriela Ferrer" />
    <meta name="publisher" content="https://github.com/MorganSnape" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  .montserrat-<uniquifier > {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  :root {
    --altura-header: 52px;
    --fondo: url(/fondo.svg);
  }
  html {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 500;
    background-image: url(/fondo.svg);
    background-size: 20px;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }

  body {
    position: relative;
    margin: 0px;
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  strong,
  a,
  spam {
    font-family: "Montserrat", sans-serif;
  }

  .shadow-primary {
  box-shadow: 6px 6px 0px #000000;
  border: 1px solid #000000;
}
</style>
