---
import Flecha from "@/assets/flecha.svg";
import Logo from "public/isotipo-negativo.svg";
---

<header class="fixed right-0 z-50 bg-black-secondary w-full">
  <nav
    class="font-rethink text-white flex flex-row justify-between items-center gap-4 px-4 md:px-6 w-full"
  >
    <a
      href="/#proyectos-container"
      class="flex flex-row gap-4 items-center font-normal cursor-pointer hover:text-gray-400"
    >
      <Flecha class="h-6 rotate-180" stroke="#ffffff" />
      <p>Volver a incio</p>
    </a
    >
    <Logo class="h-8 w-auto fill-white " />
  </nav>
</header>

<style>
  nav {
    height: var(--altura-header);
  }
</style>
