---
import type { ProyectDesignPrinciple } from '@/models';  

type Props ={
  designPrinciple: ProyectDesignPrinciple;
};

const { designPrinciple } = Astro.props;
--- 

<article class="shadow-primary bg-white card w-[80vw] h-[320px] max-w-[280px] md:h-[380px] rounded-lg overflow-hidden p-4 flex flex-col justify-center items-center">
  <h4 class="text-center text-sm lg:text-base font-semibold">{designPrinciple.name}</h4>
  <p class="text-center text-sm lg:text-base font-medium">{designPrinciple.description}</p>
</article>