---
import type { ProyectProblemDefinition } from "@/models";

type Props = {
  problemDefinition?: ProyectProblemDefinition;
};

const { problemDefinition } = Astro.props;
---

<section class="flex flex-col gap-12">
  <div
    class="grid grid-cols-1 md:grid-cols-[400px_1fr] gap-8 md:gap-12 items-center"
  >
    <h2 class="titleProyecto">
      Definición del <br /> problema
    </h2>
    <p
      class="text-balance text-sm lg:text-base font-medium whitespace-pre-wrap"
    >
      {problemDefinition?.description}
    </p>
  </div>
  <h3 class="subtituloProyecto efectoResaltador">User Persona</h3>
  <p>
    {problemDefinition?.userPersona ?? "User Persona"}
  </p>

  <img
    class="w-full"
    src={problemDefinition?.personaImage ?? "/images/BaseImagen.jpg"}
    alt={problemDefinition?.userPersona ?? "Imagen de investigación"}
  />
</section>
