---
import type { ProyectProblemDefinition } from "@/models";
import { Icon } from "astro-icon/components";
import Comillas from "@/assets/comillas.svg";

type Props = {
  problemDefinition?: ProyectProblemDefinition;
};

const { problemDefinition } = Astro.props;
---

<section class="flex flex-col gap-12">
  <section class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 items-center">
    <div class="flex flex-col gap-4">
      <h2 class="titleProyecto">
        Definición del <br /> problema
      </h2>
      <p
        class="text-balance text-sm lg:text-base font-medium whitespace-pre-wrap"
      >
        {problemDefinition?.description}
      </p>
    </div>
    <div class="relative">
      <div
        class="tag-me bg-tag font-bold absolute -right-4 sm:-right-8 md:-right-12 top-4 sm:top-6 md:top-8 lg:top-14 w-fit py-2 px-4 text-[clamp(0.1rem,_0.5rem_+_0.727vw,_0.8rem)] z-40 rounded-md"
      >
        100% Artesanal
      </div>
      <img
        src="/images/proyectos/amarilla/portada-proyecto.webp"
        alt=""
        class="h-40 sm:h-48 md:h-56 w-full object-cover border-2 border-black rounded-2xl -rotate-2"
      />
    </div>
  </section>
  <section class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-12">
    <article class="flex flex-col gap-8">
      <header class="flex flex-row gap-4 items-center">
        <div
          class="bg-primary rounded-full p-2 border-2 border-black shadow-[4px_4px_0px_#141414]"
        >
          <Icon
            name="fa6-solid:exclamation"
            height={22}
            width={22}
            class="text-white"
          />
        </div>
        <h3 class="subtituloProyecto">Objetivo del negocio</h3>
      </header>
      <p
        class="w-full min-h-64 md:min-h-96 shadow-[4px_4px_0px_#141414] md:shadow-[6px_6px_0px_#141414] rounded-2xl border-2 border-black p-4 md:p-8"
      >
        {problemDefinition?.businessObjective ??
          "Objetivo del negocio no definido para este proyecto."}
      </p>
    </article>
    <article class="flex flex-col gap-8">
      <header class="flex flex-row gap-4 items-center">
        <div
          class="bg-primary rounded-full p-2 border-2 border-black shadow-[4px_4px_0px_#141414]"
        >
          <Icon
            name="fa6-solid:face-frown"
            height={22}
            width={22}
            class="text-white"
          />
        </div>
        <h3 class="subtituloProyecto">Puntos de dolor</h3>
      </header>
      <div class="flex flex-col gap-3">
        {(problemDefinition?.painPoints ?? []).map((painPoint) => (
          <div class="flex flex-row gap-4 items-center border-b last:border-0 border-black pb-3">
            <div
              class="bg-tag rounded-lg p-2 border-2 border-black shadow-[4px_4px_0px_#141414]"
            >
              <Icon name="fa6-solid:leaf" height={22} width={22} class="" />
            </div>
            <p class="text-balance">{painPoint}</p>
          </div>
        ))}
        {!problemDefinition?.painPoints?.length && (
          <p class="text-balance">
            No hay puntos de dolor definidos para este proyecto.
          </p>
        )}
      </div>
    </article>
    <article class="flex flex-col gap-8">
      <header class="flex flex-row gap-4 items-center">
        <div
          class="bg-primary rounded-full p-2 border-2 border-black shadow-[4px_4px_0px_#141414]"
        >
          <Icon
            name="fa6-solid:lightbulb"
            height={22}
            width={22}
            class="text-white"
          />
        </div>
        <h3 class="subtituloProyecto">INSIGHT clave</h3>
      </header>
      <div
        class="w-full min-h-64 md:min-h-96 shadow-[4px_4px_0px_#141414] md:shadow-[6px_6px_0px_#141414] rounded-2xl border-2 border-black p-4 overflow-hidden flex flex-col justify-between"
      >
        <Comillas />
        <p class="p-4">
          {problemDefinition?.insight ??
            "Insight clave no definido para este proyecto."}
        </p>
        <div class="flex justify-end w-full">
          <Comillas class="rotate-180" />
        </div>
      </div>
    </article>
    <article
      class="w-full lg:col-span-3 border-2 border-black rounded-2xl p-4 flex flex-col gap-4"
    >
      <header class="flex flex-row gap-4 items-center">
        <div
          class="bg-primary rounded-full p-2 border-2 border-black shadow-[4px_4px_0px_#141414]"
        >
          <Icon
            name="fa6-solid:question"
            height={22}
            width={22}
            class="text-white"
          />
        </div>
        <h3 class="subtituloProyecto">
          {problemDefinition?.summaryTitle ?? "Resumen del problema"}
        </h3>
      </header>
      <p>
        {problemDefinition?.summary ??
          "No hay resumen disponible para este proyecto."}
      </p>
    </article>
  </section>
</section>
