<div class="w-11/12 max-w-[1120px]">
  <h2 class="titleProyecto mb-12">Diseño visual y UI</h2>
</div>
<section class="w-full flex flex-col">
  <img
    class="w-full"
    src="/images/BaseImagen.jpg"
    alt="Imagen de investigación"
  />
  <video controls class="w-full h-[80vh]">
    <source src="/videos/videoEjemplo.mp4" type="video/mp4" />
    Tu navegador no soporta este video
  </video>
  <img
    class="w-full"
    src="/images/BaseImagen.jpg"
    alt="Imagen de investigación"
  />
</section>
