<section class="flex flex-col gap-12">
  <h2 class="titleProyecto">Ideación</h2>
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum."
  </p>

  <h3 class="subtituloProyecto efectoResaltador">Sitemap</h3>
  <img
    class="h-4xl mx-auto"
    src="/images/BaseImagen.jpg"
    alt="Imagen de investigación"
  />
  <h3 class="subtituloProyecto efectoResaltador">User flow</h3>
  <img
    class="h-4xl mx-auto"
    src="/images/BaseImagen.jpg"
    alt="Imagen de investigación"
  />
  <div class="grid grid-cols-2">
    <div class="flex flex-col gap-12">
      <h3 class="subtituloProyecto efectoResaltador">Sketch</h3>
      <img
        class="h-4xl"
        src="/images/BaseImagen.jpg"
        alt="Imagen de investigación"
      />
    </div>
    <div class="flex flex-col gap-12">
      <h3 class="subtituloProyecto efectoResaltador">Wireframe</h3>
      <img
        class="h-4xl"
        src="/images/BaseImagen.jpg"
        alt="Imagen de investigación"
      />
    </div>
  </div>
</section>
